{
    "access_key": "rJmY6dFFvVA6aPdm6vDCmR3ft_KY5Og_P3UrOaQ3",
    "secret_key": "E5V0_gZwivLoWP1WlxTS9wqcYry7AeKktFc-q5d5",
    "bucket": "chouqin-octopress",
    "sync_dir": "public",
    "async_ops": "",
    "debug_level": 1
}
